



.navbar{
    border-bottom: 1px solid #343434;
}


.dashnav{

    background-color: black;
    width: 300px;

}
.dashnav li{
    display: flex;
}

.dashnav li a:first-child{
    color: rgb(207, 208, 209);
    width: 240px;
    margin-left: 10px;
    text-align: left;
    padding-left: 11px;
    font-size: 14px;
    letter-spacing: 0.5px;
    height: 35px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dashnav li a:last-child{
    padding: 0 10px;
    border-radius: 5px;
    margin-top: 6px;
}
.dashnav li a:hover{
    background-color: #212529;
    color: #ffffff;
}

.newchat{
    border: 1px solid rgb(50 51 52);
    border-radius: 5px;
    margin-left: 25px;
    margin-top: 2px;
    margin-bottom: 10px;
    padding: 5px;
}
.newchat a{
    color: rgb(207, 208, 209);
    text-decoration: none;
    padding: 2px 5px;
    font-size: 14px;
}

/* Icon */

.sidebar-toggle{
    display: none;
    height: 37px;
    width: 46px;
    border: 1px solid;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 5px;
    padding-top: 3px;
}
.sidebar-toggle:hover{
    cursor: pointer;
    border: 2px solid;
}

.open-icon {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 5px 0;
  }

.close-1 {
    width: 1px;
    height: 20px;
    transform: rotate(46deg);
    background: rgb(125 125 125);
    margin-left: 14px;
    margin-top: -9px
  }

.close-2{
    width: 1px;
    height: 20px;
    transform: rotate(315deg);
    background: rgb(125 125 125);
    margin-top: -20px;
    margin-left: 14px;
}

.sidebar-close:hover .close-2, .sidebar-close:hover .close-1{
    background: white;
    cursor: pointer;
}
.sidebar-close:hover{
    cursor: pointer;
    border-color: rgb(196, 196, 196);
}

.sidebar-close{
    float: right;
    display: block;
    padding-right: 10px;
    padding-top: 13px;
    height: 30px;
    width: 30px;
    border: 1px solid #616161;
    margin-top: 10px;
    margin-right: 15px;
    border-radius: 5px;
    z-index: 99999999999999;

}


/* Setting */
.setting{
    position: fixed;
    bottom: 0;
    left: 0;
    background: black;
    z-index: 9999999999;
    width: 300px;
    border-top: 2px solid #343434;
}
.setting-wrapper{
    margin-bottom: 20px;
    margin-left: 5px;
}
.setting a{
    color: #d5c8c8;
}
.setting a:hover{
    color: white !important;
}
