{% extends 'base.html' %}
{% load static %}
{% block content %}


            <div class="container-fluid">
                <div class="row">


            <!-- Dashboard Menu -->       

                <div class="sidebar-toggle mb-2" onclick="opennav()" id="opennav-id">
                    <div class="open-icon"></div><div class="open-icon"></div><div class="open-icon"></div>
                </div>
                    <div class="dashnav col-sm-3 px-0 multi-collapse" id="sidbar-control">

                        <div class="sidebar-close" onclick="closenav()">
                            <div class="close-1"></div><div class="close-2"></div>
                        </div>

                        <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 text-white min-vh-100">
                            <div class="newchat">
                                <a href="{% url 'newchatpage' %}" >  +  Open New Chat... </a>
                            </div>
                            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                               
                                {% block chatlist %}
                                    {% for chat in chat_all %}
                                        <li>
                                            <a href="{% url 'chat_detail' chat.id %}" class="nav-link"> <img src="{% static 'img/chaticon.png' %}"/>  {{chat}}</a>   <a href="{% url 'delete_chat' chat.id %}"><img src="{% static 'img/delete.png' %}"/> </a>
                                        </li> 
                                    {% endfor %}  
                
                                {% endblock chatlist %}  

            
                            </ul>
                        </div>

                    <div class="setting">
                        <div class="setting-wrapper">
                            <a href="{% url 'add_credit' %}" class="nav-link"> <img class="chat-icon" src="{% static 'img/payment.png' %}" alt="chat icon"/>  Subscription</a>
                            <a href="{% url 'profile' %}" class="nav-link"> <img class="chat-icon" src="{% static 'img/setting.png' %}" alt="chat icon"/>  Setting</a>
                        </div>
                    </div>
            </div>


                   
    <!-- Content Row -->
    <div class="col-sm-9 pb-5" id="dashcontent">
        {% block dashboardcontent %}

           
           




       
    {% endblock dashboardcontent %}
  </div>
 
{% endblock content %}